p {
    margin: 0px;
}

.container {
    width: 100%;
    margin: 0 auto;

}

.grey {
    background-color: #777777 !important;
}

.ligthgrey {
    background-color: #dcdcdc;
}

.linktext {
    color: #fff;
    text-decoration-line: underline;
}

.linktext:hover {
    color: #fff;
    text-decoration-line: none;
}

.linne {
    border-color: #696969 !important;
    border-bottom: 1px solid !important;
    padding: 10px;
}

.h-40 {
    height: 45% !important;
}

.boxx {
    min-height: 9.5em;
    position: relative;
    min-width: 9.5em;


}


@media screen and (max-width: 540px) {


    .ml-n2 {
        margin: 0 !important;
    }

    .mr-n2 {
        margin: 0 !important;
    }

    .ml-3 {
        margin: 0 !important;
    }

    .boxx {
        min-height: 9.5em;
        position: relative;
        width: 100%;


    }

    .order-first {
        -ms-flex-order: 1;
        order: 1;
    }

}